<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    {% block description %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/style.css') }}" />

    <title>{% block title %}TransSmart{% endblock %}</title>
    <script src="{{url_for('static', filename = 'js/burgerMenu.js')}}" defer></script>
    {% block java %}{% endblock %}
</head>

<body>
    <div class="container">
        <header>
            <div id="Logo">
                <p><img src="{{url_for('static', filename = 'images/logo.webp')}}" alt="Logo" style="width:100px"
                        id="logo-img" onclick="location.replace('/')""></p>

            </div>
            <div class=" burger-menu" id="burgerMenu">
                    <span></span>
                    <span></span>
                    <span></span>
            </div>

            <nav id="navBar">
                <ul>
                    <li><a href="{{url_for('exchange_rates')}}">Exchange Rates</a></li>
                    <li><a href="{{url_for('transfer')}}">Transfer Funds</a></li>
                    <li><a href="{{url_for('widthdraw')}}">Widthdraw</a></li>
                    <li><a href="{{url_for('deposit')}}">Deposit</a></li>
                </ul>
            </nav>
            <div id="ProfileDiv">
                {% if user %}
                <div class="flexrow">

                    <div class="flex">
                        <p>Welcome, {{ user.First_Name }} {{ user.Last_Name }}</p>
                        <button onclick="location.replace('/currencyaccounts')">Currency Accounts</button>
                    </div>
                      <p><img src="{{url_for('static', filename = 'images/profileicon.png')}}" alt="Profile Icon" style="width:100px"
                        id="logo-img" onclick="location.replace('/profile')""></p>
                </div>
                
                {% else %}
                <div class="InlineButtons">
                    <button onclick="location.replace('/login')">Log In</button>
                    <button onclick="location.replace('/createaccount')"></buttononclick>Create Account</button>
                </div>

                {% endif %}
            </div>
        </header>
        <main>
            {% block content %}
            <!-- EACH PAGE CONTENT IN HERE -->
            {% endblock %}
        </main>
        <footer>
            <p>TransSmart &copy; 2026</p>
        </footer>
    </div>
</body>

</html>