{% extends "base.html" %}
{% block description %}
<meta name="description" content="The home page of the TransSmart website">{% endblock %}

{% block title %}TransSmart | Log In{% endblock %}
{% block java %}{% endblock %}
{% block content %}
<div class="section reverseDesktopDisplay">
    <div class="insidesection BigSection">
        <h1 class ="underline">Create Account</h1>
        <p>Please enter your email and password below.</p>
        <form method="post">
            <label for ="email">Email</label>
            <input type="text" name="email" id = "email"></input>
            <label for ="fname">First Name</label>
            <input type="text" name="fname" id = "fname"></input>
            <label for ="lname">Last Name</label>
            <input type="text" name="lname" id = "lname"></input>
            <label for ="password">Password</label>
            <input type="password" name="password" id = "password"></input>
              {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                        <br/>

                        {% for category, msg in messages %}
                            <div class = "flash {{ category }}">
                                {{ msg }}
                            </div>
                        {% endfor %}
                        <br/>
                {% endif %}
            {% endwith %}
            <p>Password must be 8-20 characters long with atleast 1 special character<br/>(e.g. _,&, !, *, $)</p>
            <button type ="submit">Create Account</button>
            
          
        </form>
        

    </div>
    <p><img src="{{url_for('static', filename = 'images/man-pointing-at-card.png')}}"
            alt="A man holding a credit card pointing at it." class="resize-img DesktopSmallerImages" id = "beigeBack"></p>
</div>
{% endblock %}