{% extends "base.html" %}
{% block description %}
<meta name="description" content="The page to manage currency accounts.">{% endblock %}

{% block title %}TransSmart | Currency Accounts{% endblock %}
{% block java %}{% endblock %}
{% block content %}
<div class="section">
    <div class="insidesection grayBack">
        <h2 class="underline">Your Currency Accounts</h2>
        {% if user_CAs %}
        <form method="post">

            <select id="selectCA" name="selectCA">
                <option value="">-- Select an account --</option>

                {% for CA in user_CAs %}
                <option value="{{ CA.CurrencyAccountID }}" {% if selectedCA %} {% if
                    selectedCA.CurrencyAccountID==CA.CurrencyAccountID %} selected {% endif %} {% endif %}>
                    {{ CA.AccountName }} ({{ CA.CurrencyID }})</option>
                {% endfor %}
            </select>
            </br>
            <button type="submit" name="action" value="viewCA">Select</button>
        </form>
        </br>
        <div class="insidesection">
            <h3 class="underline">Currency Account Stats</h3>
            {% if selectedCA and currency %}
            <div class="flex right">

                <div class="flexrow">
                    <p>Account Name:</p>
                    <p class="roundedbox">{{ selectedCA.AccountName }}</p>
                </div>
                <div class="flexrow">
                    <p>Account ID:</p>
                    <p class="roundedbox">{{ selectedCA.CurrencyAccountID }}</p>
                </div>
                <div class="flexrow">
                    <p>Currency:</p>
                    <p class="roundedbox">{{ currency.Currency_Name }}</p>
                </div>
                <div class="flexrow">
                    <p>Balance:</p>
                    <p class="roundedbox">{{ currency.Symbol }}{{ selectedCA.Balance }}</p>
                </div>
            </div>
            <h3 class="underline">Transfer History:</h3>
            {% if logs %}
            <table>
                <tr>
                    <td>Transaction ID</td>
                    <td>Type</td>
                    <td>Amount</td>
                    <td>Date and Time</td>
                    <td>Sender/Reciever ID</td>
                </tr>
                {% for log in logs %}
                <tr>
                    <td>{{ log.LogID }}</td>
                    <td>
                        {% if log.CurrencyAccountID_Sender == selectedCA.CurrencyAccountID %}
                        Sent
                        {% else %}
                        Recieved
                        {% endif %}
                    </td>
                    <td>
                        {{ currency.Symbol }}
                        {% if log.CurrencyAccountID_Sender == selectedCA.CurrencyAccountID %}
                        {{ log.Amount }}
                        {% else %}
                        {{ log.Amount2 }}

                        {% endif %}
                    </td>
                    <td>
                        {{ log.TransferDateTime }}
                    </td>
                    <td>

                        {% if log.CurrencyAccountID_Sender == selectedCA.CurrencyAccountID %}
                        {{ log.CurrencyAccountID_Reciever }}
                        {% else %}
                        {{ log.CurrencyAccountID_Sender }}

                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No history found.</p>
            {% endif %}
            {% else %}
            <p>Select one of your currency accounts above</p>
            {% endif %}
        </div>

        {% else %}
        <p>You don't have any currency accounts.</p>
        <div class="insidesection">

            <h3 class="underline">Please select:</h3>
            <ul class="RomanNumeralsList left FullWidth">
                <li>
                    <p>A suitable account name</p>
                </li>
                <li>
                    <p>A currency to store in it</p>
                </li>
            </ul>
        </div>

        {% endif %}
    </div>
    <div class="insidesection grayBack">
        <form method="post">
            <h2 class="underline">Currency Account Creator</h2>
            <datalist id="currencies">
                {% for c in currencies %}
                <option value="{{ c.CurrencyID }}({{ c.Currency_Name }})"></option>
                {% endfor %}
            </datalist>
            <label for="accname">Account Name</label>
            <input type="text" name="accname" id="accname" placeholder="Enter Account Name"></input>
            <label for="refcurrency">Currency</label>
            <input type="text" name="currencyid" id="currencyid" placeholder="Search Currency"
                list="currencies"></input>
            {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
            </br>
            {% for category, msg in messages %}
            <div class="flash {{ category }}">
                {{ msg }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            </br>
            <button type="submit" name="action" value="createCA">Create Account</button>
        </form>
    </div>

</div>
{% endblock %}