{% extends "base.html" %}
{% block description %}
<meta name="description" content="The home page of the TransSmart website">{% endblock %}

{% block title %}TransSmart | Deposit{% endblock %}
{% block java %}{% endblock %}
{% block content %}

<div class="section">

    <div class="insidesection grayBack BigSection">
        <h2 class="underline">Deposit</h2>
        {% if user_CAs %}

        <form method="post">
            <label for="selectCA">Please Select An GBP Account To Deposit Into:</label>

            <select id="selectCA" name="selectCA">
                <option value="">-- Select an account --</option>
                {% for CA in user_CAs %}
                <option value="{{ CA.CurrencyAccountID }}" {% if selectedCA %} {% if
                    selectedCA.CurrencyAccountID==CA.CurrencyAccountID %} selected {% endif %} {% endif %}>
                    {{ CA.AccountName }} ({{ CA.CurrencyID }})</option>
                {% endfor %}
            </select>
            </br>

            <button type="submit" name="action" value="selectCA">Select</button>
            {% if selectedCA and  user.UKBankAcc_SortCode and user.UKBankAcc_AccountNumber %}
            <div class="insidesection">
                <h3 class="underline">Bank Account Information</h3>
                <p>This is the account which the deposit will be made from.</p>
                <div class="insidesection grayBack right">
                    <div class="flexrow">
                        <p>Sort Code:</p>
                        <p class="roundedbox">{{ user.UKBankAcc_SortCode }}</p>
                    </div>
                    <div class="flexrow">
                        <p>Account Number:</p>
                        <p class="roundedbox">{{ user.UKBankAcc_AccountNumber }}</p>
                    </div>
                </div>
                <!-- DEPOSIT BIT -->
                {% if user.UKBankAcc_SortCode and user.UKBankAcc_AccountNumber %}
                <h3 class="underline">Deposit Info</h3>
                <p>Please select an amount to deposit.</p>
                <input type="number" name="amount" step="0.01" value="{{ amounttodeposit }}" min="5" max="1000"></input>
                <p>Ensure all details are correct before confirming.</p>
                {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}

                {% for category, msg in messages %}
                <div class="flash {{ category }}">
                    {{ msg }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                </br>
                <button type="submit" name="action" value="ConfirmDeposit">Confirm Deposit</button>



                {% endif %}



            </div>

            {% endif %}
        </form>
        {% if not(user.UKBankAcc_SortCode and user.UKBankAcc_AccountNumber) %}
        <div class="insidesection">
            <h3 class="underline">Set Up Bank Account</h3>
            
            <p>You don't have a UK Bank Account linked.</p>
            <p>Please link one using the profile screen.</p>
            <button onclick="location.replace('/profile')">Profile</button>

        </div>
        {% endif %}
        {% else %}
        <div class="insidesection">
            <p>You don't have any currency accounts in GBP.</p>
            <p>Please create one in order to make a Deposit.</p>
            <button onclick="location.replace('/currencyaccounts')">Currency Accounts</button>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}