{% extends "base.html" %}
{% block description %}
<meta name="description" content="The home page of the TransSmart website">{% endblock %}

{% block title %}TransSmart | Exchange Rates{% endblock %}
{% block java %}{% endblock %}
{% block content %}
<div class="section">
    <form method="post" class="insidesection grayBack">
        <datalist id="currencies">
                {% for c in currencies %}
                    <option value="{{ c.CurrencyID }}({{ c.Currency_Name }})"></option>
                {% endfor %}
        </datalist>
        <div class="flexrow spacearound mobilecollumflex FullWidth">
            <div class="flex">
                <label for="refcurrency">Reference Currency</label>
                {% if fromcurrency %}
                    <input value="{{ fromcurrency.CurrencyID }}({{ fromcurrency.Currency_Name }})" type="text" name="refcurrency" id="refcurrency" placeholder="Search Currency" list = "currencies"></input>
                {% else %}
                    <input  type="text" name="refcurrency" id="refcurrency" placeholder="Search Currency" list = "currencies"></input>
                {% endif %}

            </div>
             <div class="flex">
                <label for="amount">Amount</label>
                <input type="number" name = "amount" step="0.01" value="{{ amounttoconv }}" min="0" max="99999999"></input>
            </div>
            
            <div class="flex">
                <label for="transfercurrency">Transfer Currency</label>
                {% if tocurrency %}
                    <input value="{{ tocurrency.CurrencyID }}({{ tocurrency.Currency_Name }})" type="text" name="transfercurrency" id="transfercurrency" placeholder="Search Currency" list = "currencies"></input>
                {% else %}
                    <input type="text" name="transfercurrency" id="transfercurrency" placeholder="Search Currency" list = "currencies"></input>
                {% endif %}
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}

        {% for category, msg in messages %}
        <div class="flash {{ category }}">
            {{ msg }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        </br>
        <button type="submit">Calculate</button>
        </br>

        <div class="insidesection">
            {% if fromcurrency and tocurrency and fromcurrency %}
            <div class="flexrow spacearound FullWidth">
                <div class="flex">
                    <p class="roundedbox">{{ fromcurrency.Currency_Name }}<br/>({{ fromcurrency.CurrencyID }})</p>
                    <p>{{ fromcurrency.Symbol }}{{ amountdisplay }}</p>
                </div>
                <h2>=</h2>
                <div class="flex">
                    <p class="roundedbox">{{ tocurrency.Currency_Name }}<br/>({{ tocurrency.CurrencyID }})</p>
                    
                    <p>{{ tocurrency.Symbol }}{{ result }}</p>
                </div>
            </div>
            {% else %}
            <h2 class="underline">Exchange Rate Calculator</h2>
            <p>Here you can select a currency to view its worth in another.</p>
            <h3 class="underline">Please select:</h3>
            <ul class="RomanNumeralsList left FullWidth">
                <li><p>A currency to convert from</p> </li>
                <li><p>A currency to convert to</p></li>
            </ul>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}