{% extends "base.html" %}
{% block description %}<meta name="description" content="The home page of the TransSmart website">{% endblock %}

{% block title %}TransSmart | Home{% endblock %}
{% block java %}{% endblock %}
{% block content %}
<div class="section">
   <div class="flex">
    <h1>TransSmart</h1>
    <h3>Safely transfer funds between different currencies, even smarter.</h3>
     <div class="insidesection">
        <h3>Begin browsing through exchange rates now!</h3>
        <button>Browse</button>
    </div>
   </div>
    <p><img src="{{url_for('static', filename = 'images/man-with-card-pointing.jpg')}}"
         alt="A man holding a credit card pointing to the left." class="resize-img DesktopImages" ></p>
</div>
{% endblock %}