{% extends "base.html" %}
{% block description %}
<meta name="description" content="The profile viewer of the logged in user.">{% endblock %}

{% block title %}TransSmart | {{ user.First_Name }} {{ user.Last_Name }}{% endblock %}
{% block java %}{% endblock %}
{% block content %}
<div class="section">
    <div class="flex">
        <div class="insidesection grayBack">
            <h2 class="underline">Profile Information</h2>
            <div class="flexrow spacearound">
                <div class="flex smalllines">
                    <p>First Name:</p>
                    <p class="roundedbox">{{ user.First_Name }}</p>
                </div>
                <div class="flex smalllines">
                    <p>Last Name:</p>
                    <p class="roundedbox">{{ user.Last_Name }}</p>
                </div>
            </div>
            <div class="flexrow">
                <p>Email:</p>
                <p class="roundedbox">{{ user.Email }}</p>
            </div>
            <div class="insidesection">
                <h3>Log Out</h3>
                <p>Press below to log out of TransSmart</p>
                <button onclick="location.replace('/logout')">Log Out</button>

            </div>
        </div>
        <div class="insidesection grayBack">
            <h2 class="underline">Currency Accounts</h2>
            <p>Press below to view or create currency accounts.</p>
            <button onclick="location.replace('/currencyaccounts')">View Accounts</button>
        </div>
    </div>
    <div class="flex">
        <div class="insidesection grayBack">
            <h2 class="underline">UK Bank Account</h2>
            {% if user.UKBankAcc_SortCode and user.UKBankAcc_AccountNumber %}
            <div class="flex right">
                <div class="flexrow">
                    <p>Sort Code:</p>
                    <p class="roundedbox">{{ user.UKBankAcc_SortCode }}</p>
                </div>
                <div class="flexrow">
                    <p>Account Number:</p>
                    <p class="roundedbox">{{ user.UKBankAcc_AccountNumber }}</p>
                </div>
            </div>
            <div class="insidesection">
                <h3>Remove Bank Account</h3>
                <p>Press below to disconnect the UK Bank Account</p>
                <button onclick="location.replace('/removebankaccount')">Disconnect</button>

            </div>
            {% else %}
            <p>Please enter your sortcode, account number, and password below.</p>
            <form method="post">
                <label for="sortcode">Sort Code</label>
                <input type="text" name="sortcode" id="sortcode"></input>
                <label for="accountnumber">Account Number</label>
                <input type="text" name="accountnumber" id="accountnumber"></input>
                <label for="password">Password</label>
                <input type="password" name="password" id="password"></input><br />
                {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                {% for category, msg in messages %}
                {% if category == "error" %}
                <div class="flash {{ category }}">
                    {{ msg }}
                </div>
                {% endif %}

                {% endfor %}
                <br />
                {% endif %}
                {% endwith %}
                <button type="submit" name="action" value="Bank">Add</button>
            </form>
            {% endif %}
        </div>
        <div class="insidesection grayBack">
            <h2 class="underline">Your Support Requests</h2>
            <form class="scrollBar" method="post">
                {% if supportreqs %}
                <table>
                    <tr>
                        <td>Your Message</td>
                        <td>Response</td>
                    </tr>
                    {% for req in supportreqs %}
                    <tr>
                        <td>{{ req.Message }}</td>
                        {%if req.Response=="Placeholder" %}
                        <td>No response yet.</td>
                        {% else %}
                        
                        <td>{{ req.Response }}<br/><button type="submit" name="action" value="{{ req.SupportID }}">Close Request</button></td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>No requests yet.</p>
                {% endif %}
            </form>
        </div>
    </div>

</div>
<div class="section">
    <div class="insidesection">
        <h2 class="underline">Request Support</h2>
        <form class="flex" method="post">
            {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
            {% for category, msg in messages %}
            {% if category == "confirm" %}
            <div class="flash {{ category }}">
                {{ msg }}
            </div>
            {% endif %}

            {% endfor %}
            <br />
            {% endif %}
            {% endwith %}
            <div class="insidesection grayBack BigSection">

                <div class="flex FullWidth">
                    <label for="tref">Transaction ID(Optional)</label>
                    <input type="text" name="tref" id="tref"></input>
                </div>
            </div>

            <div class="flex left insidesection grayBack">
                <label for="inquiry" class="FullWidth">Enter your inquiry below:</label>
                <textarea name="inquiry" rows="5" cols="33" maxlength="300" minlength="10"></textarea>
            </div>
            <button type="submit" name="action" value="Support">Send</button>

        </form>
    </div>
</div>
<div class="section">
    <div class="insidesection grayBack VeryBigSection">
        <h2 class="underline">History</h2>
        <h3 class="underline">Deposits:</h3>
        {% if depositlogs %}
        <table>
            <tr>
                <td>Transaction ID</td>
                <td>Sort Code</td>
                <td>Account Number</td>
                <td>Amount</td>
                <td>Date and Time</td>
                <td>Currency Account ID</td>
                <td>Currency Account Name</td>
            </tr>
            {% for log in depositlogs %}
            <tr>
                <td>{{ log.LogID }}</td>
                <td>{{ log.Reciever_SortCode }}</td>
                <td>{{ log.Reciever_AccountNumber }}</td>
                <td>{{ log.Symbol }}{{ log.Amount }}</td>
                <td>{{ log.TransferDateTime }}</td>
                <td>{{ log.CurrencyAccountID }}</td>
                <td>{{ log.AccountName }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No history found.</p>
        {% endif %}
        <h3 class="underline">Withdrawals:</h3>
        {% if withdrawallogs %}
        <table>
            <tr>
                <td>Transaction ID</td>
                <td>Sort Code</td>
                <td>Account Number</td>
                <td>Amount</td>
                <td>Date and Time</td>
                <td>Currency Account ID</td>
                <td>Currency Account Name</td>
            </tr>
            {% for log in withdrawallogs %}
            <tr>
                <td>{{ log.LogID }}</td>
                <td>{{ log.Reciever_SortCode }}</td>
                <td>{{ log.Reciever_AccountNumber }}</td>
                <td>{{ log.Symbol }}{{ log.Amount }}</td>
                <td>{{ log.TransferDateTime }}</td>
                <td>{{ log.CurrencyAccountID }}</td>
                <td>{{ log.AccountName }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No history found.</p>
        {% endif %}
    </div>

</div>
{% endblock %}