{% extends "base.html" %}
{% block description %}
<meta name="description" content="The page used by an customer support member to reply to a customer inquiry.">{%
endblock %}

{% block title %}TransSmart | Support{% endblock %}
{% block java %}{% endblock %}
{% block content %}
<div class="section">
    <form method="post" class="insidesection grayBack">
        <h1 class="underline">Support Screen</h1>
        <div class="insidesection FullWidth">
            <h2 class="underline">Appeals</h2>


            <div class="insidesection grayBack FullWidth">
                <label for="supportID">Please Enter The ID Of The Appeal To Respond To</label>
                <input type="text" name="supportID" id="supportID" {% if selectedsupportreq %}
                    value="{{ selectedsupportreq.SupportID }}" {% endif %}></input>
                <br />
                {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                {% for category, msg in messages %}
                {% if category == "confirm" %}
                <div class="flash {{ category }}">
                    {{ msg }}
                </div>
                {% endif %}

                {% endfor %}
                <br />
                {% endif %}
                {% endwith %}
                <button type="submit" name="action" value="SelectSupport">Select</button>
                {% if selectedsupportreq %}
                <div class="insidesection FullWidth">
                    <h3 class="underline">Support Request Information</h3>
                    <div class="insidesection VeryBigSection">
                        <h4 class="underline">Support Message</h4>
                        <p>"{{ selectedsupportreq.Message }}"</p>
                    </div>
                    {% if selectedlog %}

                    <div class="insidesection VeryBigSection">
                        <h4 class="underline">Transaction Information</h4>
                        {% if selectedlog.Type == "Withdrawal" %}
                        <p>This support request references a transaction which was a <b>Withdrawal</b></p>
                        <table>
                            <tr>
                                <td>Sort Code</td>
                                <td>Account Number</td>
                                <td>Amount</td>
                                <td>Date and Time</td>
                                <td>Currency Account ID</td>
                                <td>Currency Account Name</td>
                            </tr>
                            <tr>
                                <td>{{ selectedlog.Reciever_SortCode }}</td>
                                <td>{{ selectedlog.Reciever_AccountNumber }}</td>
                                <td>{{ selectedlog.Symbol }}{{ selectedlog.Amount }}</td>
                                <td>{{ selectedlog.TransferDateTime }}</td>
                                <td>{{ selectedlog.CurrencyAccountID }}</td>
                                <td>{{ selectedlog.AccountName }}</td>
                            </tr>
                        </table>
                        {% elif selectedlog.Type == "Deposit" %}
                        <p>This support request references a transaction which was a <b>Deposit</b></p>
                        <table>
                            <tr>
                                <td>Sort Code</td>
                                <td>Account Number</td>
                                <td>Amount</td>
                                <td>Date and Time</td>
                                <td>Currency Account ID</td>
                                <td>Currency Account Name</td>
                            </tr>

                            <tr>
                                <td>{{ selectedlog.Reciever_SortCode }}</td>
                                <td>{{ selectedlog.Reciever_AccountNumber }}</td>
                                <td>{{ selectedlog.Symbol }}{{ selectedlog.Amount }}</td>
                                <td>{{ selectedlog.TransferDateTime }}</td>
                                <td>{{ selectedlog.CurrencyAccountID }}</td>
                                <td>{{ selectedlog.AccountName }}</td>
                            </tr>
                        </table>
                        {% elif selectedlog.Type == "Transfer" %}
                        <p>This support request references a transaction which was a <b>Currency Account Transfer</b></p>
                        <table>
                            <tr>
                                <td>Sender Currency Account ID</td>
                                <td>Reciever Currency Account ID</td>
                                <td>Amount Sent</td>
                                <td>Amount Recieved</td>
                                <td>Date and Time</td>
                            </tr>
                            <tr>
                                <td>{{ selectedlog.CurrencyAccountID_Sender }}</td>
                                <td>{{ selectedlog.CurrencyAccountID_Reciever }}</td>
                                <td>{{ selectedlog.Symbol_Sender }}{{ selectedlog.Amount }} ({{selectedlog.C_ID_Sender}})</td>
                                <td>{{ selectedlog.Symbol_Reciever }}{{ selectedlog.Amount2 }} ({{selectedlog.C_ID_Reciever}})</td>
                                <td>{{ selectedlog.TransferDateTime }}</td>

                            </tr>

                        </table>

                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="flexrow mobilecollumflex FullWidth spacearound">


                        <div class="flex left">
                            <label for="supportresponce" class="FullWidth">Enter Your Responce Below:</label>
                            <textarea name="supportresponce" rows="5" cols="33" maxlength="300"
                                minlength="10"></textarea>
                        </div>
                        <button type="submit" name="action" value="SendResponce">Send</button>

                    </div>
                </div>
                {% endif %}
            </div>

            {% if supportrequests %}
            <Table>
                <tr>
                    <td>Support ID</td>
                    <td>Email</td>
                    <td>Message</td>
                    <td>Time Requested</td>
                    

                </tr>
                {% for supportrequest in supportrequests %}


                <tr>
                    <td>{{ supportrequest.SupportID }}</td>

                    <td>{{ supportrequest.Email_Ref }}</td>
                    <td>{{ supportrequest.Message }}</td>
                    <td>{{ supportrequest.TimeRequested }}</td>

                </tr>

                {% endfor %}
            </Table>
            {% else %}
            <p>No requests right now</p>
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}