{% extends "base.html" %}
{% block description %}
<meta name="description" content="The page to transfer funds between currency accounts.">{% endblock %}

{% block title %}TransSmart | Transfer Funds{% endblock %}
{% block java %}{% endblock %}
{% block content %}
<div class="section">
    <form method="post" class="insidesection grayBack">
        <h2 class="underline">Transfer Funds</h2>
        <div class="mobilecollumflex flexrow">

            <div class="insidesection">
                <p>Sending Currency</p>
                <select id="selectCASending" name="selectCASending">
                    <option value="">-- Select an account --</option>

                    {% for CA in user_CAs %}
                    <option value="{{ CA.CurrencyAccountID }}" {% if selectCASending %} {% if
                        selectCASending.CurrencyAccountID==CA.CurrencyAccountID %} selected {% endif %} {% endif %}>{{
                        CA.AccountName }} ({{ CA.CurrencyID }})</option>
                    {% endfor %}
                </select>
            </div>
            {% if selectCARecieving and selectCASending %}
            <button type="submit" name="action" value="QuickSwap">Swap</button>
            {% endif %}
            <div class="insidesection">
                <p>Recieving Currency</p>
                <select id="selectCARecieving" name="selectCARecieving">
                    <option value="">-- Select an account --</option>
                    {% for CA in user_CAs %}
                    <option value="{{ CA.CurrencyAccountID }}" {% if selectCARecieving %} {% if
                        selectCARecieving.CurrencyAccountID==CA.CurrencyAccountID %} selected {% endif %} {% endif %}>{{
                        CA.AccountName }} ({{ CA.CurrencyID }})</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" name="action" value="SelectAccounts">Select</button>
        {% if selectCARecieving and selectCASending and selectCASendingCurrency and selectCARecievingCurrency %}
        <div class="insidesection">
            <div class="mobilecollumflex flexrow">
                <div class="insidesection grayBack">
                    <h3 class="underline">Transfer Amount</h3>
                    <div class="flexrow">
                        <div class="flex">
                            <p class="roundedbox">{{ selectCASendingCurrency.CurrencyID }}({{
                                selectCASendingCurrency.Symbol }})</p>
                            <p>{{ selectCASendingCurrency.Symbol }}{{ amounttoconv }}</p>
                        </div>
                        <h3>=</h3>
                        <div class="flex">
                            <p class="roundedbox">{{ selectCARecievingCurrency.CurrencyID }}({{
                                selectCARecievingCurrency.Symbol }})</p>
                            <p>{{ selectCARecievingCurrency.Symbol }}{{ result }}</p>
                        </div>
                    </div>
                    <label for="amount">Adjust the amount to transfer here:</label>
                    <input type="number" name="amount" step="0.01" value="{{ amounttoconv }}" min="1"
                        max="99999999"></input>
                    <button type="submit" name="action" value="SetTransferAmount">Set Amount</button>
                </div>
                <div class="flex">

                    <div class="insidesection grayBack">
                        <h3 class="underline">{{ selectCASending.AccountName }} ({{ selectCASending.CurrencyID }})</h3>
                        <p>Sending Account Balance:</p>
                        <p class="roundedbox">{{ selectCASendingCurrency.Symbol }}{{ selectCASending.Balance }}</p>
                    </div>
                    <div class="insidesection grayBack">
                        <h3 class="underline">{{ selectCARecieving.AccountName }} ({{ selectCARecieving.CurrencyID }})
                        </h3>

                        <p>Recieving Account Balance:</p>
                        <p class="roundedbox">{{ selectCARecievingCurrency.Symbol }}{{ selectCARecieving.Balance }}</p>
                    </div>
                </div>
            </div>
            {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
            {% for category, msg in messages %}
            <div class="flash {{ category }}">
                {{ msg }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="insidesection grayBack">
                <h3 class="underline">Confirm Transfer</h3>
                <p>Please ensure all details are correct and you have a suffient balance.</p>
                <p>Converting {{ selectCASendingCurrency.Symbol }}{{ amounttoconv }} from "{{ selectCASending.AccountName }}"
                     into {{ selectCARecievingCurrency.Symbol }}{{ result }} for "{{ selectCARecieving.AccountName }}"</p>
                
                <button type="submit" name="action" value="ConfirmTransfer">Confirm</button>
            </div>
        </div>
        {% else %}
        <h3>Please Select a Sending and Recieving currency account</h3>
        {% endif %}
    </form>
</div>
{% endblock %}